<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @meeting.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @meeting.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @meeting.user_id %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
