<%= form_with(model: insurance) do |form| %>
  <% if insurance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insurance.errors.count, "error") %> prohibited this insurance from being saved:</h2>

      <ul>
        <% insurance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="field">
    <%= form.label :policy_number %>
    <%= form.text_field :policy_number %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
